# Mongodb
MONGO_URI=
MONGO_DB=

# Cas
CAS_URL=

# Url
FRONTEND_URL=
HOST_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

# App
APP_HOST=
APP_SCHEME=

# Cors
ALLOWED_ORIGINS=

# Prefills
UNIT_KERJA=
STATUS_MAHASISWA=
STATUS_PEGAWAI=
STATUS_KEAKTIFAN_PEGAWAI=
