MONGO_URI=
MONGO_DB=
CAS_URL=
FRONTEND_URL=
HOST_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
APP_HOST=
APP_SCHEME=
ALLOWED_ORIGINS=
UNIT_KERJA=
STATUS_MAHASISWA=
STATUS_PEGAWAI=
STATUS_KEAKTIFAN_PEGAWAI=
